/* palette picker */
html {
  --colorProtossPylon: #00a8ff;
  --colorVanadylBlue: #0097e6;
  --colorPeriwinkle: #9c88ff;
  --colorMattPurple: #8c7ae6;
  --colorRiseNShine: #fbc531;
  --colorNanohanachaGold: #e1b12c;
  --colorDownloadProgress: #4cd137;
  --colorSkirretGreen: #44bd32;
  --colorSeabrook: #487eb0;
  --colorNaval: #40739e;
  --colorNasturcianFlower: #e84118;
  --colorHarleyDavidsonOrange: #c23616;
  --colorLynxWhite: #f5f6fa;
  --colorHintOfPensive: #dcdde1;
  --colorBleberrySoda: #7f8fa6;
  --colorChainGangGrey: #718093;
  --colorMazarineBlue: #273c75;
  --colorPicoVoid: #192a56;
  --colorBlueNights: #353b48;
  --colorElectromagnect: #2f3640;
}
a {
  color: #2f3640;
  text-decoration: none;
}
body {
  background-color: var(--colorElectromagnect);
  font-family: "Bebas Neue", cursive;
}
#headText {
  background: none;
  text-align: center;
  font-size: 50px;
  color: var(--colorNanohanachaGold);
}
#mageClass {
  font-size: 25px;
  color: var(--colorProtossPylon);
  text-align: center;
}
#rogueClass {
  font-size: 25px;
  color: var(--colorDownloadProgress);
  text-align: center;
}
#warriorClass {
  font-size: 25px;
  color: var(--colorNasturcianFlower);
  text-align: center;
}
.char-info {
  margin-right: 20px;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
}
.info {
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: solid;
  border-width: 1px;
  font-size: larger;
}
.charName {
  margin: auto;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 150%;
}
img.charImg {
  width: auto;
  height: 100%;
  margin: auto;
  display: block;
}
#cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.charCard {
  border: solid;
  border-radius: 0 50px 50px 50px;
  background-color: var(--colorBlueNights);
  transition: 1s;
  margin: 5px;
}
.imgDiv {
  width: 360px;
  height: 440px;
}
.statsNButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3%;
}
.selectionButton {
  cursor: pointer;
  padding: 15%;
  background: none;
  border: solid;
  border-radius: 0 50px 50px 50px;
  font-family: "Bebas Neue", cursive;
  font-size: 140%;
  outline: none;
}
.stats {
  margin-left: 60px;
  font-size: 130%;
}
.int {
  color: var(--colorProtossPylon);
}
.agi {
  color: var(--colorDownloadProgress);
}
.str {
  color: var(--colorNasturcianFlower);
}

#char1:hover {
  border-color: var(--colorProtossPylon);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#char2:hover {
  border-color: var(--colorDownloadProgress);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#char3:hover {
  border-color: var(--colorNasturcianFlower);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal {
  display: grid;
  background: var(--colorNanohanachaGold);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /* Hide this modal until we need it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
